body{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","文泉驿正黑","黑体";
}
.WB_global_nav{}
*{	
	margin: 0;
	padding: 0;
	/*边框,需要注释*/
	/* border: 1px solid red; */
}

a{
	color: black;
	text-decoration: none;
}

a:HOVER{
	color: #fa7d3c;
}

ul{
	list-style-type: none;
}

.Wb_miniblog{
	background: url("images/background.jpg");
}

.WB_global_nav{
	position: fixed;
  	top: 0;
	left:0;
  	z-index: 9999;
  	width: 100%;
  	height: 48px;
  	border-top: 2px solid #fa7d3c;
  	background: #FFF;
}

.WB_main{
	width: 100%;
	height: 80%
}

.WB_footer{
	width: 100%;
	margin-top: 100px;
}

.WB_global_nav .gn_header{
	width: 1280px;
	height: 48px;
	position: absolute;
	top: 0;
	margin-left: 30px;
}

.gn_logo{
  	width: 140px;
  	height: 48px;
}

.gn_search_v2{
	width: 468px;
	height: 28px;
	margin: 10px;
}

.gn_position{
	width: 644px;
	height: 48px;
}

.gn_logo,.gn_search_v2,.gn_position{
	float: left;
}

.gn_search_v2>input{
	width: 430px;
	height: 25px;
}

.gn_search_v2>input,.gn_search_v2>a{
	float: left;
} 

.gn_position_nav{
	width: 480px;
	height: 26px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.gn_position_set{
	width: 129px;
	height: 26px;
	margin-top: 10px;
}

.gn_position_nav,.gn_position_set{
	float: left;
}

.gn_position_nav ul{
	display: inline-block;
	width: 430px;
	height: 26px;
	margin-left: 55px;
}

.gn_position_nav li{
	display: inline-block;
	width: 80px;
	height: 24px;
	float: left;
}

.gn_position_nav_l1{
	border-right: 1px solid #AAA; 
}

.WB_frame{
	width: 920px;
	height: 1123px;
	margin: 0 auto;
}

.WB_frame_a{
	width: 920px;
	height: 356px;
}

.plc_main{
	width: 940px;
	height: 767px;
}

.back_image{
	width: 920px;
	height: 300px;
	/*封面背景图*/
	/* background: url("images/cover.png"); */
	margin-top: 50px;
	position: relative; 
}

.back_nav{
	width: 920px;
	height: 40px;
	background: #FFF;
}

.back_nav_tab{
	width: 60%;
	height: 40px;
	margin: 0 auto;
}

.tab{
	border-collapse:collapse;
	border-spacing: 0;
}

.tab td{
	width: 184px;
	height: 40px;
}

.tab a{
	display: inline-block;
	width: 100px;
	height: 40px;
	margin-left: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}

#tab_a1{
	border-bottom: 2px solid #fa7d3c;
	font-weight: bold;
}

.tab a:HOVER {
	border-bottom: 2px solid #fa7d3c;
	font-weight: bold;
}

.WB_frame_b{
	width: 300px;
	height: 604px;
	margin-right: 20px;
}

.WB_frame_c{
	width: 600px;
	height: 767px;
}

.WB_frame_b,.WB_frame_c{
	float: left;
}

.attention{
	width: 300px;
	height: 60px;
	background: #FFF;
}

.attestation{
	width: 300px;
	height: 172px;
	margin-top: 15px;
	background: #FFF;
}

.assist{
	width: 300px;
	height: 179px;
	margin-top: 15px;
	background: #FFF;
}

.moods{
	width: 300px;
	height: 145px;
	margin-top: 15px;
	background: #FFF;
}

.attention_tab{
	width: 100%;
	height: 36px;
}

.tab1{
	display: inline-block;
	border-collapse:collapse;
	border-spacing: 0;
	margin-top: 10px;
}

.tab1 a{
	display: inline-block;
	width: 95px;
	height: 34px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}

#tab1_a2{
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}

.attestation_top{
	width: 300px;
	height: 70px;
} 

.attestation_centre{
	width: 300px;
	height: 60px;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
} 

.attestation_buttom{
	width: 300px;
	height: 42px;
} 

.attestation_top>p{
	width: 268px;
	height: 28px;
}

.attestation_top span{
	display: inline-block;
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin-top: 20px;
}

.attestation a:HOVER{
	color: #fa7d3c;
}

.attestation_top_s2{
	border-left: 1px solid #AAA;
}

.attestation_centre_ind{
	width: 268px;
	height: 31px;
	margin-top: 10px;
	margin-left: 12px;
}

.attestation_centre_ind>p{
	width: 268px;
	height: 23px;
	margin: 0;
}

.attestation_centre_box{
	width: 268px;
	height: 4px;
}

.attestation_centre_box{
	background: #fa7d3c repeat-x;
	width: 180px;
}

.attestation_buttom_a{
	display: block;
	margin: 8px auto;
	text-align: center;
	text-decoration: none;
}

.moods_title{
	width: 300px;
	height: 39px;
	border-bottom: 1px solid #AAA;
}

.moods_content{
	width: 300px;
	height: 106px;
}

.moods_title_name{
	width: 268px;
	height: 39px;
	margin: 0 auto;
}

.moods_title_name>h2{
	margin-top: 5px;
}

.moods_content_wb{
	width: 268px;
	height: 74px;
	margin: 16px;
}

.assist_title{
	width: 268px;
	height: 38px;
	margin: 0 auto;
}

.assist_title>h2{
	margin: 5px;
}

.assist_content{
	width: 300px;
	height: 104px;
	border-top: 1px solid #AAA;
}

.assist_more{
	width: 300px;
	height: 35px;
	border-top: 1px solid #AAA;
}

.assist_content_mat{
	width: 288px;
	height: 92px;
	margin: 6px;
	background-color: #EEE;
}

.assist_content_mat_image{
	width: 92px;
	height: 92px;
}

.assist_content_mat_wb{
	width: 192px;
	height: 92px;
}

.assist_content_mat_image,.assist_content_mat_wb{
	float: left;
}

.assist_content_mat_wb_h{
	width: 180px;
	height: 16px;
	margin: 6px auto;
}

.assist_content_mat_wb_b{
	width: 180px;
	height: 54px;
	margin: 6px auto;
}

.assist_content_mat_wb_h>a{
	font-weight: bold;
	text-decoration: none;
}

.assist_content_mat_wb_b>a{
	font-size: 8px;
	text-decoration: none;
}

.assist_content_mat_wb a:HOVER {
	color: #fa7d3c;
}

.assist_more>a{
	display: inline-block;
	width: 300px;
	height: 35px;
	text-align: center;
	line-height: 35px;
}

.assist_more>a:HOVER {
	color: #fa7d3c;
}

.gn_position_set>div{
	width: 43px;
	height: 26px;
	float: left;	
}

.gn_position a:HOVER{
	color: #fa7d3c;
}

/*动态导航栏*/
.trends_nav{
	width: 600px;
	height: 48px;
	display: block;
}

.trends_navs{
	width: 600px;
	height: 38px;
	background-color: #EEE;
}

.navs1,.navs2,.navs3{
	float: left;
}

.navs1,.navs2{
	width: 90px;
	height: 38px;
	text-align: center;
	line-height: 38px;
}

.navs1{
	border-bottom: 2px solid #fa7d3c;
	border-right: 1px solid #AAA;
	background-color: #FFF;
}

.navs1>a:HOVER,.navs2>a:HOVER{
	color: #fa7d3c;
}

.navs2:HOVER{
	border-bottom: 2px solid #fa7d3c;
}

.navs3{
	width: 414px;
	height: 38px;
	position: relative;
}

.navs3_search{
	width: 228px;
	height: 25.5px;
	position: absolute;
	top: 5px;
	right: 10px;
}

.navs3_search1,.navs3_search2{
	float: left;
}

.navs3_search1{
	width: 190px;
	height: 25.5px;
	
}

.navs3_search2{
	width: 30px;
	height: 30px;
	border: 0;
	background-image: url("images/search.PNG");
}

.navs3_search2:HOVER{
	cursor: pointer;
}

/*动态内容区*/
.trends_det{
	width: 600px;
	height: 719px;
}

.trends_det_wb{
	width: 600px;
	height: 137px;
	background-color: #FFF;
}

.det_wb_ct{
	width: 560px;
	height: 73px;
	margin: 10px 20px 4px 20px;
}

.det_wb_cm{
	width: 600px;
	height: 39px;
	margin-top: 20px;
	border-top: 1px solid #AAA;
}

.wb_ct_img{
	width: 55px;
	height: 55px;
	margin: 9px ;
 	border-radius: 27.5px; 
}

.wb_ct_ct{
	width: 480px;
	height: 73px;
	margin-top: 10px;
}

.wb_ct_img,.wb_ct_ct{
	float: left;
}

.wb_ct_img>a{
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 27.5px;
	background-image: url("images/person.png");
}

.wb_ct_ct1,.wb_ct_ct2,.wb_ct_ct3{
	width: 480px;
	height: 24.25px;
}

.wb_ct_ct1{
	font-weight: bold;
}

.wb_ct_ct a:HOVER {
	color: #fa7d3c;
}

.wb_cm_ct{
	width: 600px;
	height: 25px;
	margin: 7px 0 7px 0;
}

.wb_cm_ct1,.wb_cm_ct2,.wb_cm_ct3,.wb_cm_ct4{
	width: 148px;
	height: 25px;
	float: left;
}

.wb_cm_ct2{
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
}

.wb_cm_ct3{
	border-right: 1px solid #AAA;
}

.wb_cm_ct a{
	display: inline-block;
	margin-left:60px;
}

.wb_cm_ct a:HOVER {
	color: #fa7d3c;
}

.wb_cm_ct4>a{
	color: #fa7d3c;
}

/*底部链接/版权区域*/

.WB_footer_top{
	width: 100%;
	height: 160px;
	background-color: #FFF;
	margin-top: -50px;
}

.WB_footer_buttom{
	width: 100%;
	height: 93px;
	background-color: #EEE;
	margin-top: 20px;
}

.footer_top{
	width: 720px;
	height: 140px;
	margin: 20px auto;
}

.footer_buttom{
	width: 100%;
	height: 73px;
	margin: 20px 0;
}

.footer_top_dl{
	width: 180px;
	height: 140px;
	float: left;
	margin-top: 20px;
}

.footer_top_dl dt{
	font-size: 20px;
	font-weight: bold;
}

.footer_top_dl a:HOVER{
	color: #fa7d3c;
}

.top_dl_p{
	font-size: 20px;
	font-weight: bold;
}

.top_dl_img{
	width: 95px;
	height: 102px;
}

.top_dl_d{
	width: 80px;
	height: 100px;
	margin-top: 10px;
}

.top_dl_img,.top_dl_d{
	float: left;
}

.footer_buttom>p{
	text-align: center;
	margin-top: 10px;
}

/*封面*/
.back_image_log{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 40px;
	right: 120px;
	border-radius: 50px; 
	background-image: url("images/person_log.png");
}

.back_image a{
	color: rgb(193,184,228);
}

.person_name{
	font-size: 24px;
	color: rgb(193,184,228);
	position: absolute;
	top: 140px;
	right: 120px;
}

.person_say{
	position: absolute;
	top: 270px;
	right: 50px;
}

